@use '../util' as u;

.event {
    padding-block: u.rem(80) u.rem(124);
    
    @include u.breakpoint(medium) {
        padding-block: u.rem(120);
    }

    @include u.breakpoint(large) {
        flex-direction: row;
        gap: u.rem(120);
    }

    &__figcaption {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include u.breakpoint(large) {
            text-align: left;
            align-items: start;
        }
    }

    &__ul {
        width: 100%;
        margin-top: u.rem(54);
        border-color: transparent;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: u.rem(30);
        color: hsl(0, 0%, 60%);
        letter-spacing: u.rem(1);

        @include u.breakpoint(medium) {
            flex-direction: row;
            justify-content: space-between;
        }

        @include u.breakpoint(large) {
            order: 1;
            flex-direction: column;
            align-items: start;
            gap: u.rem(24);
        }
    }

    &__li:hover, &__li:focus  {
        color: #000;
        cursor: pointer;
        transform: scale(1.1);
        transition-duration: 0.2s;
        transition-timing-function: linear;
    }

    &__article {
        margin-top: u.rem(28);

        @include u.breakpoint(medium) {
            padding-inline: u.rem(98);
        }

        @include u.breakpoint(large) {
           padding: 0;
        }
    }

    &__p {
        margin-block: u.rem(24);
    }
}